/* responsive section start*/

/* for index page  */

/* start  */

@media (max-width: 769px) {
  /* for nav bar start */

  nav {
    padding: 15px 20px;
  }

  nav img {
    width: 125px;
  }

  #responsive-menu {
    display: initial;
  }

  #close-menu {
    display: initial;
    font-size: 1.7rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }

  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(18, 20, 105, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(25, 255, 255, 0.18);
    width: 230px;
    height: 100vh;
    transition: 0.3s ease;
  }

  nav .navigation ul.active {
    right: 0;
  }

  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a {
    color: #fff;
  }

  /* end  */

  /* for hero section start  */

  #hero p,
  #hero h2 {
    width: 90%;
  }

  #hero {
    padding-top: 0;
  }

  /* end  */

  /* for feature section */

  #feature {
    padding: 8vw 4vw 0 4vw;
  }

  /* end  */

  /* for course section  */

  #courses {
    padding: 8vw 4vw 0 4vw;
  }

  /* end  */

  /* for registration section  */

  #registration {
    padding: 6vw 4vw 6vw 4vw;
    margin-top: 8vw;
  }

  #registration .time-remind .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  /* end  */

  /* for footer  */

  .footer-columns {
    padding: 30px 0;
  }

  /* end  */
}

@media (max-width: 475px) {
  /* for nav bar  */
  nav .respons {
    width: 20px !important ;
  }

  nav .navigation ul li {
    padding: 15px 0 15px 40px;
  }

  /* end  */

  /* for regitration  */
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #registration .time-remind .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  /* end  */

  /* for expert section  */

  #expert-prfile {
    padding: 0;
  }

  /* end  */

  /* for footer  */

  footer .news-l {
    display: flex;
  }

  footer .news-l .yello-color {
    margin-left: 5px;
  }

  footer .footer-columns {
    text-align: center;
  }

  .copyrights {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  /* end  */
}

@media (max-width: 475px) {
  /* for nav  */

  nav img {
    width: 100px;
  }

  nav .respons {
    height: 25px !important ;
  }

  /* end  */

  /* feature section  */

  h1 {
    font-size: 2rem;
  }

  #feature p {
    font-size: 15px;
  }
  /* end  */

  /* course section  */

  #feature .feature-card {
    margin-top: 30px;
  }

  #courses .course-details {
    margin-top: 30px;
  }
  /* end  */

  /* for expert section  */

  #expert-prfile {
    margin-top: 30px;
  }

  #expert-prfile .expert-profile {
    margin-bottom: 50px;
  }

  /* end */

  /* for footer  */

  .footer-columns {
    padding: 20px 0;
  }

  /* end  */

  /* for copyrigyht  */

  .copyrights {
    font-size: 13px;
    padding: 5px 0;
  }

  .copyrights .social-handle i {
    padding: 4px;
  }

  /* end  */
}

@media (max-width: 280px) {
  /* for nav bar  */
  nav {
    width: 280px;
  }

  nav {
    padding: 10px 20px;
  }

  nav .navigation ul li {
    padding: 8px 0 10px 30px;
  }

  nav .navigation ul li a {
    font-size: 14px;
    font-weight: 400;
  }

  nav .navigation ul {
    right: -290px;
  }

  /* end  */

  /* for hero  */

  #hero .button {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  #hero h2 {
    font-size: 2rem;
    padding: 20px 0;
  }

  /* end  */

  /* for coursae  */

  #courses .course img {
    height: 50%;
    width: 100%;
  }

  #courses .course-details .cost {
    width: 50px;
    height: 50px;
    right: 15px;
    line-height: 50px;
    font-size: 12px;
  }

  #courses .course {
    max-width: 280px;
  }

  #feature .feature-box-1 {
    max-width: 256px;
  }

  #courses .course {
    max-width: 256px;
  }
  #courses .course-details .details h6 {
    font-size: 1rem;
  }

  #courses .course-details .details span {
    font-size: 0.7rem;
  }

  /* end  */

  /* expert  */

  #expert-prfile .expert-profile .proflies {
    width: 256px;
    padding: 0;
  }

  #expert-prfile .expert-profile {
    padding: 0 10px;
  }

  #expert-prfile .expert-profile img {
    height: 120px;
    width: 120px;
  }

  .proflies .social-handle {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .proflies .social-handle i {
    padding: 5px 6px;
  }
  #courses {
    padding-left: 13px;
  }

  /* registration  */

  #registration .form {
    padding: 20px;
  }

  #registration .form input {
    padding: 10px 5px;
  }

  #registration .form a.yellow-btn {
    font-size: 0.8rem;
    padding: 10px 25px;
  }

  /* end  */

  /* for footer  */

  footer {
    width: 100%;
  }

  footer .news-l {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
  }

  footer .news-l a.yello-color {
    width: 150px;
  }

  .copyrights {
    width: 100%;
  }
}

/* end  */

/* responsive for about us page  */

/* about us page  */

/* start  */

@media (max-width: 769px) {
  /* for feature section   */
  #about-contain {
    padding: 4vw 4vw 2vw 4vw;
  }

  #about-contain .about-images {
    padding-right: 40px;
  }

  #trust .trust-images img {
    width: 60px;
  }

  /* end  */
}

@media (max-width: 475px) {
  /* for feature section  */

  #about-contain {
    flex-direction: column-reverse;
    margin-top: 15px;
  }

  #about-contain .about-images {
    padding-right: 0px;
    width: 100%;
  }

  #about-contain .about-texts {
    width: 100%;
    padding-bottom: 20px;
  }

  /* end  */

  /* trust section start  */

  #trust .trust-images {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #trust .trust-images img {
    width: 60px;
    margin: 10px 15px;
  }

  /* end  */
}

/* end  */

/* responsive for blog page  */

/* blog page  */

/* start  */

@media (max-width: 769px) {
  /* for blogs  */

  #blog-section {
    padding: 8vw 4vw;
  }

  /* end  */
}

@media (max-width: 475px) {
  /* for blog  */

  #blog-section {
    flex-direction: column;
  }

  #blog-section .blogs {
    width: 100%;
  }

  #blog-section .categories {
    width: 100%;
  }

  /* end  */
}

/* end  */

/* responsive for blog poat page  */

/* blog post  */

/* start  */

@media (max-width: 769px) {
  /* for posts  */

  #blog-section .blog-post img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  #blog-section .blog-post {
    width: 100%;
    margin-top: 30px;
  }

  /* end  */
}

@media (max-width: 475px) {
  /* for posts  */

  #blog-section .blog-post {
    width: 100%;
    margin-top: 70px;
  }

  /* end  */
}

/* end  */

/* responsives for course pages */

/* responsive for php page  */

/* php course  */

/* start  */

@media (max-width: 769px) {
  #courses-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8vw 4vw;
    justify-content: center;
  }

  #courses-inner .view .course-img {
    width: 100%;
    height: 100%;
  }

  #courses-inner .enroll {
    margin-top: 25px;
  }

  #courses-inner .view {
    width: 100%;
  }
  #courses-inner .view .course-heading .course-name {
    width: 50%;
  }

  #courses-inner .view .course-heading .course-name h2 {
    font-size: 22px;
  }

  #courses-inner .view .course-heading span {
    font-size: 20px;

    border-radius: 6px;
  }

  #courses-inner .enroll {
    width: 100%;
  }
}

@media (max-width: 912px) {
  #courses-inner .enroll {
    margin-left: 18px;
  }
}

@media (max-width: 475px) {
  #courses-inner .view .course-heading {
    justify-content: space-around;
  }

  #courses-inner .enroll {
    width: 100%;
  }
}

/* end. */
