@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* some Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* end  */

/* index start  */

/* Navigation section start */

nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav img {
  width: 150px;
  cursor: pointer;
}

nav .navigation ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .navigation {
  display: flex;
}

#close-menu {
  display: none;
}

#responsive-menu {
  display: none;
}

nav .navigation ul li {
  list-style-type: none;
  margin-left: 33px;
}

nav .navigation ul li a {
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}

nav .navigation ul li a.active {
  color: #ffcb3a;
}

nav .navigation ul li a:hover {
  color: #ffcb3a;
}

/* end  */

/* hero section start  */

#hero {
  background-image: linear-gradient(rgba(10, 5, 54, 0.3), rgba(5, 4, 47, 0.7)),
    url("images/hero-background.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 40px;
}

#hero h2 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: #fff;
  width: 50%;
}

#hero p {
  width: 50%;
  line-height: 25px;
  color: #fff;
  font-size: 0.9rem;
}

#hero a {
  font-size: 0.9rem;
  padding: 12px 35px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

#hero .button {
  margin-top: 30px;
}

#hero .button .blue-btn {
  color: #fff;
  background-color: rgb(21, 21, 100);
  transition: 0.3s ease;
}

#hero .button .blue-btn:hover {
  color: rgb(21, 21, 100);
  background-color: #fff;
}

#hero .button .yellow-btn {
  color: #fff;
  background-color: #ffcb3a;
  transition: 0.3s ease;
}

#hero .button .yellow-btn:hover {
  color: rgb(21, 21, 100);
  background-color: #ddd9d9;
}

/* end  */

/* features section start*/

#feature {
  text-align: center;
  padding: 5vw 8vw 0 8vw;
}

#feature .feature-box-1 {
  text-align: start;
  background-color: #eeeef3;
  padding: 25px;
}

#feature .feature-box-1 i {
  color: rgb(44, 44, 80);
  font-size: 2.3rem;
}

#feature .feature-box-1 h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 60);
  padding: 13px 0 7px 0;
}

#feature .feature-box-1 p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(46, 46, 60);
}

#feature .feature-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 50px;
  grid-gap: 1rem;
}

/* endd  */

/* course section start*/

#courses {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#courses .course {
  height: 100%;
  text-align: start;
  background-color: #eeeef3;
  position: relative;
}

#courses .course-details .cost {
  background-color: rgb(75, 75, 135);
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 100px;
}

#courses .course img {
  height: 60%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#courses .course-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 50px;
  grid-gap: 1rem;
}

#courses .course-details .details {
  padding: 15px 15px 0 15px;
}

#courses .course-details .details i {
  font-size: 0.9rem;
  color: #ffcb3b;
}

/* end  */

/* registration section start*/

#registration {
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(82, 92, 235, 0.5)
    ),
    url(images/signup.jpg);
  padding: 6vw 8vw 6vw 8vw;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#registration .time-remind {
  color: #fff;
}

#registration .time-remind h1 {
  color: #fff;
}

#registration .time-remind .time {
  display: flex;
  margin-top: 40px;
}

#registration .time-remind .time .date {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  text-align: center;
  padding: 13px 33px;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0 8px 32px 0 rgba(3, 39, 135, 0.38);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 5px 10px 5px;
}

#registration .form {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(3, 39, 135, 0.38);
}

#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(85, 40, 245);
  outline: none;
}

#registration .form input::placeholder {
  color: #443e3e;
  font-weight: 500;
  font-size: 0.9rem;
}

#registration .form a.yellow-btn {
  font-size: 0.9rem;
  padding: 12px 35px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: #ffcb3a;
  transition: 0.3s ease;
}

#registration .form a.yellow-btn:hover {
  color: rgb(21, 21, 100);
  background-color: #ddd9d9;
}

#registration .form .button {
  margin-top: 20px;
}

/* end  */

/* profile section start*/

#expert-prfile {
  text-align: center;
  padding: 8vw 8vw 8vw 8vw;
}

#expert-prfile .expert-profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  margin-top: 50px;
  grid-gap: 1rem;
  padding: 0 50px;
}

#expert-prfile .expert-profile .proflies {
  background-color: #f5f5f5;
  padding: 30px 10px;
}

.proflies .social-handle {
  margin-top: 10px;
}

.proflies .social-handle i {
  cursor: pointer;
  padding: 10px 12px;
  border: 1px solid rgb(20, 20, 104);
  transition: 0.4s;
}

.proflies .social-handle i:hover {
  background-color: rgb(21, 21, 104);
  color: #fff;
}

/* end  */

/* footer section start*/

footer {
  background-color: #0f192d;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 7vw;
}

footer h3 {
  color: rgb(240, 240, 250);
  padding-bottom: 15px;
  font-weight: 600;
}

footer li {
  color: #7b838a;
  padding: 6px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

footer li:hover {
  color: rgb(240, 240, 250);
}

footer p {
  color: #7b838a;
}

footer .news-l {
  margin-top: 22px;
}

footer input {
  width: 240px;
  background-color: #35506c;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 8px;
}

footer .news-l .yello-color {
  font-size: 0.9rem;
  padding: 10px 15px;
  background-color: #fff;
  letter-spacing: 0.5px;
  font-weight: 600;
}

footer .news-l a.yello-color {
  color: #fff;
  background-color: #ffcb3a;
  transition: 0.4s ease;
}

footer .news-l a.yello-color:hover {
  color: rgb(21, 21, 100);
  background-color: #fff;
}

/* end  */

/* copyrght section start  */

.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.5vw 8vw;
  background-color: black;
  color: #fff;
}

.copyrights .social-handle i {
  cursor: pointer;
  color: #2c2c2c;
  background-color: #eae6e6;
  padding: 8px;
  border-radius: 5px;
  margin: 4px;
}

.copyrights .social-handle i:hover {
  color: #2c2c2c;
  background-color: #ffcb3a;
}

.copyrights P {
  font-weight: none;
}

.copyrights p span {
  color: #1abc9c;
  font-weight: bold;
}

/* end  */

/* About page start*/

/* start  */

/* hero section start  */

#about-contain {
  display: flex;
  padding: 8vw 8vw 2vw 8vw;
  align-items: center;
}

#about-contain .about-images {
  width: 60%;
  padding-right: 70px;
}

#about-contain .about-images img {
  width: 100%;
}

#about-contain .about-texts {
  width: 40%;
}

#about-contain .about-texts h2 {
  padding-bottom: 20px;
  color: #293029;
}

#about-contain .about-texts p {
  font-weight: 300;
  color: #666d78;
}

#about-contain .about-texts .about-feature img {
  width: 50px;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

#about-contain .about-texts .about-feature {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}

#about-contain .about-texts .about-feature .feature-text {
  width: 90%;
}

#about-contain .about-texts .about-feature .feature-text h5 {
  font-size: 15px;
  color: #293029;
}

/* end  */

/* hero section start  */

#about-hero {
  background-image: linear-gradient(rgba(10, 5, 54, 0.3), rgba(5, 4, 47, 0.7)),
    url("images/about-img.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 40px;
  /* color: #fff; */
}

#about-hero h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

/* end  */

/* trusted section start  */

#trust {
  padding: 8vw;
  text-align: center;
}

#trust .trust-images img {
  width: 90px;
  height: auto;
}

#trust .trust-images {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end  */

/* blog page start  */

/* start  */

/* Blog section start*/

#blog-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}

#blog-section .blogs {
  width: 60%;
}

#blog-section .blogs img {
  width: 100%;
  border-radius: 20px;
  /* border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%; */
}

#blog-section .categories {
  width: 30%;
}

#blog-section .blogs .posts {
  padding-bottom: 60px;
}

#blog-section .blogs .posts h3 {
  color: #293029;
  padding: 15px 0 10px 0;
}

#blog-section .blogs .posts p {
  color: #757373;
  padding-bottom: 20px;
}

#blog-section .blogs .posts a {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 13px 35px;
  background-color: rgb(22, 22, 102);
  color: #fff;
  border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}

/* catagories  */

#blog-section .categories h2 {
  padding-bottom: 10px;
}

#blog-section .categories a {
  font-weight: 500;
  color: #757373;
  line-height: 45px;
}

/* end  */

/* blog post section start  */

/* start post  */

#blog-section .blog-post {
  width: 60%;
  margin: 0 auto;
}

#blog-section .blog-post p {
  text-align: justify;
  padding-bottom: 50px !important;
}

/* end  */

/* Course_inner section page start*/

/* start course page  */

#courses-inner {
  display: flex;
  align-items: flex-start;
  padding: 8vw;
  justify-content: space-between;
}

#courses-inner h3 {
  padding: 35px 0 25px 0;
  color: #293029;
}

#courses-inner p {
  color: #64626e;
}

#courses-inner hr {
  height: 1px;
  background-color: rgba(236, 236, 229, 0.5);
  margin-top: 40px;
}

#courses-inner .view {
  width: 70%;
}

#courses-inner .view .course-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

#courses-inner .view .course-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#courses-inner .view .course-heading .course-name {
  width: 70%;
}

#courses-inner .view .course-heading .course-name h2 {
  color: #293029;
}

#courses-inner .view .course-heading .course-name .rating {
  margin: 6px 0;
}

#courses-inner .view .course-heading .course-name .rating i {
  color: #ffcb3b;
  font-size: 0.9rem;
}

#courses-inner .view .course-heading .course-name p {
  font-size: 15px;
}

#courses-inner .view .course-heading span {
  padding: 15px 22px;
  font-size: 23px;
  font-weight: 700;
  background-color: rgba(82, 92, 235, 0.2);
  color: #5637f6;
  border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}

#courses-inner .what-learn p {
  font-size: 15px;
  padding-bottom: 15px;
}

#courses-inner .what-learn p i {
  color: #654ec4;
  font-weight: 700;
  margin-right: 20px;
}

#courses-inner .tutor {
  display: flex;
}

#courses-inner .tutor img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

#courses-inner .tutor h5 {
  font-size: 15px;
}

/* enrolll section  */

#courses-inner .enroll {
  width: 300x;
  padding: 0 30px 30px 30px;
  box-shadow: 0px 20px 40px rgb(11 2 55 / 8%);
  border-radius: 10px;
}

#courses-inner .enroll p {
  font-size: 15px;
  color: #64626e;
  margin: 15px 0;
}

#courses-inner .enroll i {
  color: #654ec4;
  font-weight: 700;
  margin-right: 20px;
  width: 17px;
  line-height: 17px;
  text-align: center;
  height: 17px;
}

#courses-inner .enroll h3 {
  padding-bottom: 10px;
}

#courses-inner .enroll .enroll-button {
  padding: 25px 0 5px 0;
  margin: auto;
  text-align: center;
}

#courses-inner .enroll .enroll-button a {
  font-size: 0.8rem;
  padding: 13px 40px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(50, 50, 130);
}

/* end  */

/* contact page start*/

/* start  */

/* contact section start  */

#contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}

#contact .get {
  width: 350px;
}

#contact .get h2 {
  font-size: 30px;
  line-height: 0.8;
  color: #2f2652;
  font-weight: 800;
  margin-bottom: 15px;
}

#contact .get h3 {
  font-size: 16px;
  line-height: 26px;
  color: #2f2652;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .get p {
  padding-bottom: 35px;
  color: #686875;
  margin-bottom: 33px;
  line-height: 24px;
  border-bottom: 1px solid #e5e4ed;
}

#contact .get .get-details div p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 24px;
  border-bottom: none;
}

#contact .get .get-details div {
  display: flex;
}

#contact .get .get-details div .icon {
  font-size: 16px;
  color: #5838fc;
  margin-right: 20px;
  line-height: 22px;
}

#contact .get .get-details .social-handle {
  margin-top: 10px;
}

#contact .get .get-details .social-handle i {
  cursor: pointer;
  padding: 10px 12px;
  border: 1px solid rgb(20, 20, 104);
  transition: 0.4s;
  margin-right: 8px;
}

#contact .get .get-details .social-handle i:hover {
  background-color: rgb(21, 21, 104);
  color: #fff;
}

/* end  */

/* form section  */

#contact .form {
  padding: 40px;
  width: 60%;
  border-radius: 10px;
  background-color: #f7f6fa;
}

#contact .form h4 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
  color: #2f2652;
}

#contact .form p {
  padding-bottom: 35px;
  color: #686875;
  line-height: 24px;
}

#contact .form .form-rows {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact .form .form-rows input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-coloum input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form .form-coloum textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}

#contact .form button {
  padding: 13px 35px;
  border-radius: 5px;
  background-color: rgb(33, 33, 101);
  font-size: 0, 9rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

/* end  */

/* map secion start  */

#map {
  height: 70vh;
  width: 100%;
  margin-bottom: 8vw;
}

#map iframe {
  height: 100%;
  width: 100%;
}

/* end */
